body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
}



.hero {
    background-color: #1f2937;
    margin-bottom: auto;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    gap: 30px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-sub {
    padding-bottom: 8px;
}

.description {
    display: flex;
    justify-content: center;
}

.left {
    padding: 18px;
}

.click {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.right {
    padding: 18px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card {
    font-size: 18px;
    font-weight: normal;
}

.information {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    gap: 30px;
    padding: 30px;
}