body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
}

.hero {
    background-color: #1f2937;
    margin-bottom: auto;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 30px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-sub {
    padding-bottom: 8px;
}

.description {
    display: flex;
    justify-content: center;
}

.description-left {
    padding: 18px;
}

.description-sign-up {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.description-right {
    padding: 18px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-card {
    font-size: 18px;
    font-weight: normal;
}

.information {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 30px;
}

.quote {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex-direction: column;
    flex: 1;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 100px;
    font-weight: lighter;
}

.quote-citation {
    padding: 30px;
    font-size: 18px;
    padding-left: 300px;
    font-weight: bold;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.sign-up-container {
    background-color: #3882f6;
    display: flex;
    padding: 40px;
    border-radius: 25px;
}

.sign-up-left {
    color: #f9faf8;
}

.sign-up-right {
    padding-left: 30px;
}

.sign-up-join {
    background-color: transparent;
    padding: 8px;
    border-radius: 12px;
    color: #f9faf8;
    border-color: #f9faf8;
}

.sign-up-newsletter {
    font-weight: lighter;
    font-size: 10px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.footer-text {
    color:#f9faf8;
    font-size: 14px;
}